<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <script>
        var lastContext;
        var lastContextButton;

        function submitDatasetForm() {
            document.getElementById('datasetForm').submit();
        }
        function submitTrainForm() {
            var list = document.getElementById("hidden-layers").children;
            var inputs = [];
            for (var i = 0; i < list.length; i++) {
                var input = document.createElement("input");
                input.value = list[i].innerHTML;
                input.name = "layer_" + i;
                input.hidden = true;
                inputs.push(input);

                document.getElementById('trainForm').appendChild(input);
            }

            try {
                document.getElementById('trainForm').submit();
            } finally {
                for (var i = 0; i < list.length; i++) {
                    document.getElementById('trainForm').removeChild(inputs[i]);
                }
            }
        }
        function submitGenerateForm() {
            var select = document.getElementById("select-model");
            var input = document.createElement("input");
            input.value = select.options[select.selectedIndex].innerHTML;
            input.name = "load_model";
            input.hidden = true;
            document.getElementById('generateForm').appendChild(input);

            document.getElementById('generateForm').submit();

            document.getElementById('generateForm').removeChild(input);
        }

        function showContent(contentId, buttonId) {
            lastContext = contentId;
            lastContextButton = buttonId;
            // Get all content elements
            var contents = document.getElementsByClassName('login-box');

            // Hide all content elements
            for (var i = 0; i < contents.length; i++) {
                contents[i].classList.remove('active');
            }

            // Show the selected content
            var selectedContent = document.getElementById(contentId);
            selectedContent.classList.add('active');

            // Get all buttons
            var buttons = document.getElementsByClassName('switch-button');

            // Remove active class from all buttons
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove('active-button');
            }

            // Add active class to the selected button
            var selectedButton = document.getElementById(buttonId);
            selectedButton.classList.add('active-button');
        }

        function addItem () {
            var hidden_units_input = document.getElementsByName("hidden_units").item(0);

            var item = document.createElement("li");
            item.innerHTML = hidden_units_input.value;

            document.getElementById("hidden-layers").appendChild(item);
        }

        function delItem() {
            var list = document.getElementById("hidden-layers");
            var allItems = document.querySelectorAll("#hidden-layers li");

            var last = allItems.length - 1;
            list.removeChild(allItems[last]);
        }

        function getNumInstruments() {

        }
    </script>
</head>
<body>
<h1>Game Music C-VRAE</h1>

<a id="button1" class="switch-button active-button" onclick="showContent('dataset', 'button1')">Dataset</a>
<a id="button2" class="switch-button" onclick="showContent('train', 'button2')">Train</a>
<a id="button3" class="switch-button" onclick="showContent('generate', 'button3')">Generate</a>

<div id="dataset" class="login-box active">
    <h2>Dataset</h2>
    <form id="datasetForm" action="/dataset" method='POST'>
        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="freq" value="{{config.freq}}" required="">
                <label>Frequency</label>
            </div>
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="ips" value="{{config.ips}}" required="">
                <label>Instruments per song</label>
            </div>
            <div class="user-box">
                <input type="text" name="min_note" value="{{config.min_note}}" required="">
                <label>Min note</label>
            </div>
        </div>

        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="max_note" value="{{config.max_note}}" required="">
                <label>Max note</label>
            </div>
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="beats_per_bar" value="{{config.beats_per_bar}}" required="">
                <label>Beats per bar</label>
            </div>
            <div class="user-box">
                <input type="text" name="notes_per_beat" value="{{config.notes_per_beat}}" required="">
                <label>Notes per beat</label>
            </div>
        </div>

        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="note_ts" value="{{config.note_ts}}" required="">
                <label>Note timesteps</label>
            </div>
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="bars" value="{{config.bars}}" required="">
                <label>Bars</label>
            </div>
            <div class="user-box">
                <input type="text" name="ni" value="{{config.ni}}" required="" readonly>
                <label>Number of instruments</label>
            </div>
        </div>

        <div class="row">
            <div>
                <a href="#" onclick="submitDatasetForm()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </a>
            </div>

            <div class="user-box" style="padding-left: 70px; padding-top: 30px">
                <input style="padding-left: 70px; padding-top: 30px; width: 100px" type="text" name="data_shape" value="{{data_shape}}" required="" readonly>
                <label style="padding-left: 70px; padding-top: 60px">Data shape</label>
            </div>

            <div style="padding-left: 50px; width: 200px">
                <a href="#" onclick="getNumInstruments()">
                    Get num instruments
                </a>
            </div>
        </div>
    </form>
</div>

<div id="train" class="login-box" style="width: 500px">
    <h2>Train</h2>
    <form id="trainForm" action="/train" method='POST'>
        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="batch_size" value="{{config.batch_size}}" required="">
                <label>Batch size</label>
            </div>
            <div class="user-box">
                <input type="text" name="latent_dim" value="{{config.latent_dim}}" required="">
                <label>Latent space dimension</label>
            </div>
        </div>

        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="beta" value="{{config.beta}}" required="">
                <label>Beta</label>
            </div>
            <div class="user-box">
                <input type="text" name="epochs" value="{{config.epochs}}" required="">
                <label>Epochs</label>
            </div>
        </div>

        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="generate_every_epoch" value="{{config.generate_every_epoch}}" required="">
                <label>Save every epoch</label>
            </div>
            <div class="user-box">
                <input type="text" name="num_instruments" value="{{num_instruments}}" required="">
                <label>Number of instruments</label>
            </div>
        </div>

        <div class="row">
            <div class="user-box" style="padding-right: 10px">
                <input type="text" name="name" value="{{config.name}}" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="hidden_units" value="{{hidden_units}}" required="">
                <label>Hidden layers units</label>
            </div>
        </div>

        <ol id="hidden-layers" class="items">
            {% for item in hidden_layers %}
                <li>{{item}}</li>
            {% endfor %}
        </ol>

        <div class="row">
            <div style="padding-right: 100px; width: 200px">
                <a href="#" onclick="addItem()">
                    Add layer
                </a>
            </div>

            <div style="width: 200px">
                <a href="#" onclick="delItem()">
                    Remove layer
                </a>
            </div>
        </div>

        <div style="text-align:center;">
            <a href="#" onclick="submitTrainForm()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Train
            </a>
        </div>
    </form>
</div>

<div id="generate" class="login-box" style="width: 500px">
    <h2>Generate</h2>
    <form id="generateForm" action="/generate" method='POST'>
        <div class="select">
            <select id="select-model" class="select-text" required>
                <option value="" disabled selected></option>
                {% for item in saved_models %}
                    <option value={{item.value}}>{{item.name}}</option>
                {% endfor %}
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Select model</label>
        </div>

        <div class="user-box">
            <input type="text" name="mgi" value="{{config.mgi}}" required="">
            <label>Max generated instruments</label>
        </div>

        <div class="user-box">
            <input type="text" name="generate_strategy" value="{{config.generate_strategy}}" required="">
            <label>Generate strategy</label>
        </div>

        <div class="user-box">
            <input type="text" name="labels" value="{{config.labels}}" required="">
            <label>Labels</label>
        </div>

        <a href="#" onclick="submitGenerateForm()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Generate
        </a>
    </form>
</div>
</body>
</html>